body{
	background-color: #f4fff2;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}

div{
	width: calc(100% + 25px);
	margin-left:-8px;
}

#menu{
	box-shadow: 1px 1px 1px 1px #30c3a6;
}

#logo{
	height:60px;
	margin-right:-30px;
}

#ul_menu{
	float:right;
	margin-top:22px;
	color:#30c3a6;
}

.li_menu{
	display:inline;
}
.li_menu:hover{
	text-decoration: underline;
}

#first_stripe{
	background-color: #30c3a6;
	margin-top:30px;
}

#ft1{
	font-size:30px;
	text-shadow:0px 1px black;
	margin:auto;
}
#ft2{
	font-size:20px;
}

#button{
	background-color:#34495E;
	border:none;
	color: white;
	padding:10px;
	margin:auto;
	margin-top: 10px;
	cursor: pointer;
}
/**/
.line {
    overflow: hidden;
    text-align: center;
}
.line:before,
.line:after {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 330px;
}
.line:before {
    right: 0.5em;
    margin-left: -50%;
}
.line:after {
    left: 0.5em;
    margin-right: -50%;
}
/* third stripe */
#third_stripe{
	background-color: #30c3a6;
	margin-top:30px;
}

.photo{
	width:30%;
	margin:auto;
	display:inline-table;
	margin-top:20px;
	color:#f4fff2;
	margin-left:5px;
	margin-right:5px;
}

.tp1{
	font-size:30px;
}
.ph1{
	width:120px;
	border: 5px solid #f4fff2;
}

@media only screen and (min-width:769px){
	body{
		background-color: gold;
	}
	/* menu */
	#menu2{
		width:768px;
		margin:auto;
		padding-right:10px;
	}
	#ul_menu{
		display:inline;
	}
	.li_menu{
		margin-left:20px;
	}
	/* first stripe */
	#first_text{
		color:#f4fff2;
		margin:auto;
		width:400px;
		padding:40px;
		text-align:center;
	}
	/* first stripe */
	#second_text{
		margin:auto;
		width:768px;
		text-align:center;
		color: black;
		padding-top:50px;
		padding-bottom:20px;
	}
	/* third stripe */
	
}