body{
	background-color: #f4fff2;
	font-family: "Times New Roman", Times, serif;
	font-size:16px;
}

#menu{
	box-shadow: 1px 1px 1px 1px #30c3a6;
	width:110%;
	margin-left:-5%;
}

#logo{
	height:60px;
}

#ul_menu{
	float:right;
	display:inline;
	margin-top:22px;
	color:#30c3a6;
}

.li_menu{
	display:inline;
}

@media only screen and (min-width:769px){
	body{
		background-color: gold;
	}
	#menu2{
		width:768px;
		margin:auto;
		padding-right:10px;
	}
	.li_menu{
		margin-left:20px;
	}
}