body{
	background-color: #f4fff2;
	font-family: "Times New Roman", Times, serif;
}

@media only screen and (min-width:880px){
	div{
	position: relative;
	width:110%;
	margin-left: -5%;
}
#div1{
	border-top:1px solid #d6f5ef;
	border-bottom:1px solid #30c3a6;
	width:110%;
	margin-left: -5%;
	margin-top: 10px;
	margin-bottom: 30px;
	padding:10px;
	min-width:880px;
}

#menu{
	width:65%;
	height:60px;
	margin: auto;
}

#logo{
	height:60px;
}



.p{
	margin-left:10%;
	display:inline;
	float:right;
	font-size:13px;
	color: #29a38b;
}

#div2{
	background-color:#30c3a6;
	height:160px;
	text-align:center;
	padding-top:50px;
}

#lips{
	color:#f4fff2;
	font-size:20px;
	margin-bottom:30px;
}

.bla{
	color:#f4fff2;
	font-size:17px;
	margin: -15px;
}
#bla2{
	background-color: #145246;
	height:25px;
	width:50px;
	border-top:10px;
	margin:auto;
}

#div3{
	background-color:blue;
	height:60px;
}
#div4{
	background-color:orange;
	height:60px;
}
#div5{
	background-color:blue;
	height:60px;
}
}
