/*@media only screen and (max-device-width:480px){*/
@media only screen and (max-width:480px), (max-device-width:480px){
	body {
        background-color: blue;
    }
	
	/* menu */
	
	#ul_menu{
		display:none;
	}
	/* first stripe */
	#first_text{
		color:#f4fff2;
		margin:auto;
		width:70%;
		text-align:center;
		
	}
	/* second stripe */
	.line:before,
.line:after {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}
	#second_text{
		margin:auto;
		width:90%;
		text-align:center;
		color: black;
	}
	/* third stripe */
	.photo{
	width:70%;
}
textarea {
	
	width: 90%;
margin-top:0px;
margin-left:0px;
float:left;
}

#lable1{
	float:left;
	margin-top:0px;
	margin-right: 0%;
	margin-bottom:8px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
display:block;
}
}