@media only screen and (max-width:768px){
	body {
        background-color: red;
    }
	/* menu */
	#menu2{
		width:480px;
		margin:auto;
		padding-right:10px;
	}
	#ul_menu{
		display:inline;
	}
	.li_menu{
		margin-left:5px;
	}
	/* first stripe */
	#first_text{
		color:#f4fff2;
		margin:auto;
		width:400px;
		padding:40px;
		text-align:center;
	}
}